body{
    padding: 20px;
}
p{
    /* расстояние между строками */
    line-height: 150%;
    /* выравнивание текста в данном случае на всю страницу есть еще center и right*/
    text-align: justify;
    /* отступы для начала абзацев */
    text-indent: 25px;
    /* внешний отступ НО padding это внешние отступы*/
    margin-top: 20px;
}

img {
    object-fit: cover;
    object-position: 50% 50%;
}

.img-scale {
    transition: 1s; /* Время эффекта */
}
.img-scale:hover {
    transform: scale(1.2); /* Увеличиваем масштаб */
}