body{
    width: 960px;
    margin: 0 auto;
    background-color: #e28eec;
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, sans-serif;
}

h1{
    font-size: 2em;
    border-bottom: dotted 2px #fff;
    padding-bottom: 5px;

}
p{
    margin-bottom: 20px;
}
.subform{
    font-size: 1.1em;
    color:#fff
}
.subform label{
    display: inline-block;
    width: 220px;
    /* выравнивание по верхнему краю */
    vertical-align: top;
    margin-right: 10px;
    font-weight: bold;

}
.subform input[type="submit"]{
    margin-left: 236px;
    padding: 12px 24px;
    font-size: 1em;
    background: rgb(220, 200, 60);
    cursor: pointer;
    border-radius: 7px;
    box-shadow: 0 0 3px #fff;
    color: white;
}

